body {
  
  height: 180vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(239, 233, 233);
}

.container{
  width: 100px;
  height: 100px;
  background-color: rgb(52, 36, 36);
  
}




